<!DOCTYPE html>
<html>
<head>
    {{head "Error" "An error occurred. I wonder why..?" ""}}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <style>
        body, html {
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
            overflow: hidden !important;
        }
        body {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url(/static/img/bg2.jpg);
        }
        p, h1, h2, span, a {
            font-family: "Lato", "OpenSans", "Ubuntu", "Helvetica Neue", "Helvetica", sans-serif, sans;
            font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
            color: #fff;
        }
        code {
            color: #fff;
            display: inline-block;
            margin: 0.1em;
            font-family: "Fira Code", "Source Code Pro", "Ubuntu Mono", "Roboto Mono", "Consolas", "Monaco", monospace;
            background-color: rgba(85, 85, 85, 0.65);
            padding: 0.15em;
            border-radius: 6px;
        }
        a {
            color: white;
        }
    </style>
</head>
<body>
    <h1>{{if .title}}{{.title}}{{else}}An error occurred!{{end}}</h1>
    <p>{{if .desc}}{{.desc}}{{else}}We're sorry, but an error occurred while the server was processing your request.{{end}}</p>
    <br>

    {{if .err}}<code>{{.err}}</code>{{end}}

    <br><br>{{if .admin}}
    <a href="/admin/">Back to admin index</a><br>
    <a href="/admin/manage/heap_dump">Heap Dump</a><br>
    <a href="/admin/manage/gc_stats">Garbage Collector Statistics</a><br>
    <a href="/admin/manage/free_mem">Free OS Memory</a>
    {{else}}
    <a href="/">Back to landing page</a>
    {{end}}
</body>
</html>
